h1{
    text-align: center;
    background-color: palevioletred;
    margin: 100px;
    margin-top: auto;
    
}
li{
    text-align: right;
    color: red;
}
h2{
    text-align: center;
}
h3{
    color: palevioletred
}
h4{
    text-align: center;
}